.bestStudents {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.bestStudents .sectionTitle {
  grid-column: 1 / 5;
  text-align: center;
  color: goldenrod;
  text-decoration: underline;
  font-size: 3rem;
}

.card {
  background-color: #daa52027;
  border: 5px solid goldenrod;
  border-radius: 5px;
  padding: 15px;
}

.card .studentName,
.card .studentSurname {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0;
}

.card .studentName {
  margin-right: 4px;
}

.categoryTitle {
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 40px auto;
  width: 70%;
  background-color: rgba(218, 165, 32, 0.048);
  border: 2px solid goldenrod;
  border-radius: 5px;
  padding: 30px;
}

.formTitle {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  text-decoration: underline;
  color: goldenrod;
}

.addStudent label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1rem;
  font-weight: 700;
}

.addStudent input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

form input[type="submit"] {
  background-color: goldenrod;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

form input[type="submit"]:hover {
  cursor: pointer;
}

form input[type="submit"]:active {
  transform: translateY(1px);
}

.hidden {
  display: none;
}

.requiredError {
  color: red;
  margin-top: 0;
}

.addStudent input.error {
  border: 3px solid red;
}

.deleteStudent select {
  padding: 10px;
}
