@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.selectStudent,
.studentsInfo {
  width: 60%;
  margin: 30px auto;
  text-align: center;
}

.pageHeader {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  margin-bottom: 30px;
  margin: 30px auto;
}

.selectStudent h3 {
  margin-bottom: 30px;
}

.studentsTable {
  width: 100%;
}

.studentsTable .tableHeader {
  background-color: #e1efe6;
}

.studentsTable tr {
  border-bottom: 2px solid #aeb7b3;
}

.selectedStudent {
  display: flex;
  justify-content: space-between;
  border: 3px solid #aeb7b3;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px 10px 10px 30px;
  width: 80%;
  text-align: left;
}

.selectedStudent .studentData {
  align-self: center;
}

.selectedStudent .studentData span {
  font-weight: 700;
}

.selectedStudent .studentPhoto {
  width: 50%;
}

.selectedStudent .studentPhoto img {
  max-width: 100%;
  border-radius: 10px;
}
