@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
  background-color: #f1faee;
  font-family: "Montserrat", sans-serif;
}

.pageTitle {
  text-transform: uppercase;
  text-align: center;
}

.addTodo {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #457b9d;
}

.addTodo input {
  margin-right: 10px;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #457b9d;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.addTodo button {
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  border: 1px solid #457b9d;
  border-radius: 10px;
  background-color: #457b9d;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.addTodo button:hover {
  cursor: pointer;
}

.todoList {
  width: 80%;
  margin: 30px auto;
  padding: 30px;
  border-radius: 30px;
  background-color: #a8dadc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 2px solid #457b9d;
}

.todoItem:hover {
  cursor: pointer;
}

.isDone {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

.isDone span {
  display: block;
  font-weight: 900;
  margin-left: 4px;
}

.done {
  text-decoration: line-through;
}

.todoTitle {
  flex-grow: 3;
  font-weight: 300;
}
